[Unit]
Description=mqtt2http
After=multi-user.target

[Service]
Type=simple
#User=root
#Group=pi
Environment="MQTT_HOST=127.0.0.1"
Environment="MQTT_PORT=1883"
Environment="MQTT_USER="
Environment="MQTT_PASS="
Environment="HTTP_BIND=127.0.0.1"
Environment="HTTP_PORT=8080"
Environment="LOG_LEVEL=WARNING"
WorkingDirectory=/{path}/
ExecStart=/{path}/vEnv/bin/python ./server.py
Restart=always
RestartSec=5
KillMode=process
KillSignal=SIGINT
SendSIGHUP=no

[Install]
WantedBy=multi-user.target
